---
layout: default
title: Drawings
permalink: /drawings/
search_exclude: true
---
<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
</style>

<h1>Drawings</h1>
{% assign drawings = site.drawings | sort: 'date' %}
{% assign drawings = drawings | reverse %}
<p>
  <strong>{{ drawings.size }}</strong> drawings as of {{ drawings[0].date | slice: 0, 10 }}.
</p>

<p>
  These are my daily drawings that I post on <a href="https://twitter.com/danallison">Twitter</a> and <a href="https://bsky.app/profile/danallison.bsky.social">Bluesky</a>.
  Some drawings are also available as t-shirts and prints at my <a href="https://danallison.threadless.com/">merch shop</a>.
</p>

{% assign current_month = "" %}
<div>
{% for drawing in drawings %}
  {% assign date = drawing.date %}
  {% assign month = date | slice: 0, 7 %}
  {% if month != current_month %}
    {% assign current_month = month %}
    </div>
    <h2 id="{{ current_month }}">{{ current_month }}</h2>
    <div class="gallery">
  {% endif %}
      <a href="{{ drawing.url }}">
        <img src="/drawings/{{ drawing['filename'] }}" alt="Drawing" loading="lazy" id="{{ drawing['pagename'] }}"/>
      </a>
{% endfor %}
</div>

<!-- <script>
  fetch('/data/drawings.json')
    .then(response => response.json())
    .then(data => {
      window.drawings = data;
      drawings.forEach(drawing => {
        drawing.element = document.getElementById(drawing.id);
      });
    });
</script> -->
