---
layout: default
title: Drawings
permalink: /drawings/
search_exclude: true
---
<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
</style>

<h1>Drawings</h1>
{% assign drawings = site.drawings | sort: 'date' %}
{% assign drawings = drawings | reverse %}
<p>
  <strong>{{ drawings.size }}</strong> public drawings as of {{ drawings[0].date | slice: 0, 10 }}.
</p>

<p>Subscribe to my <a href="https://danallison.substack.com/">Substack</a> to get a new drawing in your inbox everyday. Paid subscribers also get an <em>exclusive</em> new drawing everyday, not available publicly.</p>

<iframe src="https://danallison.substack.com/embed" width="480" height="150" style="max-width: 100%; border:none; display: block; margin: 0 auto; background:white;" frameborder="0" scrolling="no"></iframe>

<p>
  I also post my public daily drawings on <a href="https://twitter.com/danallison">Twitter</a>, <a href="https://bsky.app/profile/danallison.bsky.social">Bluesky</a>, and <a href="https://www.instagram.com/danallison_wizardcat">Instagram</a>.
  Some drawings are also available as t-shirts and prints at my <a href="https://danallison.threadless.com/">merch shop</a>.
</p>

<h2>Favorites</h2>
<div class="gallery">
{% for drawing in drawings %}
  {% if drawing.favorite %}
    <a href="{{ drawing.url }}">
      <img src="/drawings/{{ drawing['filename'] }}" alt="Drawing" loading="lazy" id="{{ drawing['pagename'] }}"/>
    </a>
  {% endif %}
{% endfor %}
</div>

{% assign current_month = "" %}
<div>
{% for drawing in drawings %}
  {% assign date = drawing.date %}
  {% assign month = date | slice: 0, 7 %}
  {% if month != current_month %}
    {% assign current_month = month %}
    </div>
    <h2 id="{{ current_month }}">{{ current_month }}</h2>
    <div class="gallery">
  {% endif %}
      <a href="{{ drawing.url }}">
        <img src="/drawings/{{ drawing['filename'] }}" alt="Drawing" loading="lazy" id="{{ drawing['pagename'] }}"/>
      </a>
{% endfor %}
</div>

<!-- <script>
  fetch('/data/drawings.json')
    .then(response => response.json())
    .then(data => {
      window.drawings = data;
      drawings.forEach(drawing => {
        drawing.element = document.getElementById(drawing.id);
      });
    });
</script> -->
