---
layout: default
title: Drawings
permalink: /drawings/
search_exclude: true
---
<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .gallery img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    /* border-radius: 5px; */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
</style>

<h1>Drawings</h1>
{% assign drawings = site.drawings | sort: 'date' %}
{% assign drawings = drawings | reverse %}
<p>
  <strong>{{ drawings.size }}</strong> public drawings as of {{ drawings[0].date | slice: 0, 10 }}.
</p>

<div>
  <p>
    <img src="/drawings/2025-07-05_behind-our-eyes.jpg" alt="Drawing" loading="lazy" id="behind-our-eyes" style="width:400px;max-width:100%;display:block;margin:4px auto 16px auto;box-shadow:0 0 10px rgba(0,0,0,0.1);"/>
    This drawing, titled "behind our eyes", is by far my most popular drawing. If you've only seen one of my drawings before, it's probably this one.
  </p>
  <p>
    You can read more about the story of this drawing <a href="https://www.kickstarter.com/projects/dan-allison/the-sticker-distribution-game">here</a>.
  </p>
</div>

<h5>Copyright</h5>
<div style="font-size: 0.7em;">
  <p>
    All of my public drawings are licensed under
    <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
    <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="" style="display:inline; max-width: 1em;max-height:1em;margin-left: .2em;">
    <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="" style="display:inline; max-width: 1em;max-height:1em;margin-left: .2em;">
    <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="" style="display:inline; max-width: 1em;max-height:1em;margin-left: .2em;">
  </p>
  <p>
    You are free to use the images as long as you credit the artist (Dan Allison) and do not use them for commercial purposes. I also request that you provide a link to my website (<a href="https://danallison.info">danallison.info</a>) if possible.
  </p>
  <p>
    For tattoos, you are free to get any of my drawings tattooed, and I would love to see a photo!
  </p>
</div>

<h2>Favorites</h2>
<div class="gallery">
{% for drawing in drawings %}
  {% if drawing.favorite %}
    <a href="{{ drawing.url }}">
      <img src="/svgs/{{ drawing['pagename'] }}.svg" alt="{{ drawing['pagename'] }}" loading="lazy"/>
    </a>
  {% endif %}
{% endfor %}
</div>

<h2>Daily newsletter</h2>
<p>
  Subscribe to my <a href="https://danallison.substack.com/">Substack</a> to get new drawings in your inbox everyday.
</p>

<iframe src="https://danallison.substack.com/embed" width="480" height="150" style="max-width: 100%; border:none; display: block; margin: 0 auto; background:white;" frameborder="0" scrolling="no"></iframe>

<h2>Daily drawings by month</h2>
{% assign current_month = "" %}
<div>
{% for drawing in drawings %}
  {% assign date = drawing.date %}
  {% assign month = date | slice: 0, 7 %}
  {% assign file_extension = drawing.filename | split: '.' | last %}
  {% if month != current_month %}
    {% assign current_month = month %}
    </div>
    <h2 id="{{ current_month }}">{{ current_month }}</h2>
    <div class="gallery">
  {% endif %}
      <a href="{{ drawing.url }}">
        {% if file_extension == "gif" %}
          <img src="/drawings/{{ drawing['filename'] }}" alt="{{ drawing['pagename'] }}" loading="lazy"/>
        {% else %}
          <img src="/svgs/{{ drawing['pagename'] }}.svg" alt="{{ drawing['pagename'] }}" loading="lazy"/>
        {% endif %}
      </a>
{% endfor %}
</div>

<!-- <script>
  fetch('/data/drawings.json')
    .then(response => response.json())
    .then(data => {
      window.drawings = data;
      drawings.forEach(drawing => {
        drawing.element = document.getElementById(drawing.id);
      });
    });
</script> -->
