---
layout: default
title: Stereoscopic Images
permalink: /stereoscopic-images/
search_exclude: true
---
<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .gallery img {
    width: 100%;
    height: auto;
    object-fit: contain;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
</style>

<h1>Stereoscopic Images</h1>
<p>
  I post daily stereoscopic photos on <a href="https://twitter.com/danallison">Twitter</a> and <a href="https://www.instagram.com/danallison_wizardcat">Instagram</a>.
  The app I use to make them is <a href="https://apps.apple.com/us/app/crosscam/id1436262905">CrossCam</a>.
  See <a href="https://moultano.wordpress.com/2025/02/24/you-should-make-cross-views/">this blog post</a> for instructions on how to view them and make your own.
</p>

{% assign images = site.stereoscopic_images | sort: 'date' %}
{% assign images = images | reverse %}
{% assign current_month = "" %}
<div>
{% for image in images %}
  {% assign date = image.date %}
  {% assign month = date | slice: 0, 7 %}
  {% if month != current_month %}
    {% assign current_month = month %}
    </div>
    <h2 id="{{ current_month }}">{{ current_month }}</h2>
    <div class="gallery">
  {% endif %}
      <a href="{{ image.url }}">
        <img src="/stereoscopic-images/{{ image.filename }}" alt="stereo image" loading="lazy" id="{{ image.pagename }}"/>
      </a>
{% endfor %}
</div>
