<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <title>{{page.title}}</title>
  <meta name="color-scheme" content="light">
  <link rel="stylesheet" href="/css/github-markdown-light.css">
  {% if page.social_image %}
    <meta property="og:image" content="{{ page.social_image | relative_url }}">
    <meta name="twitter:image" content="{{ page.social_image | relative_url }}">
    <meta name="twitter:card" content="summary_large_image">
  {% endif %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="article">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  <style>
    body {
      padding: 10px;
      background: #eee;
    }
    .markdown-body {
      margin: 0 auto;
      max-width: 800px;
      padding: 20px;
      background: #fff;
      /* border-radius: 5px; */
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    /* @media (prefers-color-scheme: dark) {
      body {
        background-color: #0d1117;
      }
    } */
  </style>
</head>
<body>
  <article class="markdown-body">
    {% if page.no_header %}
      <!-- No header included -->
    {% else %}
      {% include header.html %}
    {% endif %}
    {{content}}
  </article>
</body>
</html>