---
layout: default
---
<article>
  <h1>{{ page.pagename }}</h1>
  {% assign collection_dir = page.collection | replace: '_', '-' %}
  <a href="/{{ collection_dir }}/{{ page.filename }}">
    <img src="/{{ collection_dir }}/{{ page.filename }}" alt="{{ page.pagename }}" style="max-height: 100vh; margin: 0 auto;"/>
  </a>
  <!-- <p>{{ page.description }}</p>
  <p>Date: {{ page.date }}</p> -->
  {% if page.tags.size > 0 %}
    <p>Tags:
      {% for tag in page.tags %}
      <a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
      {% endfor %}
    </p>
  {% endif %}
</article>
