---
layout: default
---
<article>
  <h1>{{ page.pagename }}</h1>
  {% assign collection_dir = page.collection | replace: '_', '-' %}
  <a href="/{{ collection_dir }}/{{ page.filename }}">
    <img src="/{{ collection_dir }}/{{ page.filename }}" alt="{{ page.pagename }}" style="max-height: 100vh; margin: 0 auto;"/>
  </a>
  <!-- <p>{{ page.description }}</p>
  <p>Date: {{ page.date }}</p> -->
  {% if page.tags.size > 0 %}
    <p>Tags:
      {% for tag in page.tags %}
      <a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a>
      {% endfor %}
    </p>
  {% endif %}
  <ul>
  {% if collection_dir == 'drawings' %}
    <li>
      <a href="/svgs/{{ page.pagename }}.svg">SVG</a>
    </li>
  {% endif %}
  {% if page.substack_post %}
    <li>
      <a href="{{ page.substack_post }}/">substack post</a>
    </li>
  {% endif %}
  {% if page.tweet %}
    <li>
      <a href="{{ page.tweet }}/">tweet</a>
    </li>
  {% elsif collection_dir == 'drawings' %}
    {% assign base_ts = page.date | date: "%s" %}
    {% assign until_ts = base_ts | plus: 172800 %}
    {% assign until_date = until_ts | date: "%Y-%m-%d" %}
    {% assign since_date = page.date | date: "%Y-%m-%d" %}
    {% assign q = 'from:danallison since:' | append: since_date | append: ' until:' | append: until_date | append: ' loved free' %}
    <li>
      <a href="https://x.com/search?q={{ q | url_encode }}&f=live">tweet search</a>
    </li>
  {% endif %}
  {% if page.youtube %}
    <li>
      <a href="{{ page.youtube }}/">youtube</a>
    </li>
  {% endif %}
  </ul>
</article>
